*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#111;

color:white;

font-family:
-apple-system,
BlinkMacSystemFont,
sans-serif;

}

#app{

max-width:1100px;

margin:auto;

padding:20px;

}

header{

text-align:center;

padding:20px;

}

h1{

font-size:48px;

color:#FFD700;

margin-bottom:10px;

}

.subTitle{

color:#ccc;

margin-bottom:20px;

}

.screen{

display:block;

}

.hidden{

display:none;

}

button{

width:100%;

padding:18px;

margin-top:15px;

font-size:20px;

font-weight:bold;

border:none;

border-radius:14px;

background:#c79a2b;

color:white;

cursor:pointer;

transition:.2s;

}

button:hover{

transform:scale(1.02);

background:#d8ab39;

}

#titleScreen{

max-width:600px;

margin:auto;

}

#raceScreen{

margin-top:20px;

}

#courseName{

text-align:center;

font-size:34px;

color:#FFD700;

margin-bottom:20px;

}

#raceInfo{

display:flex;

justify-content:space-between;

background:#222;

padding:15px;

border-radius:12px;

margin-bottom:20px;

}

#horseArea{

background:#1b1b1b;

padding:20px;

border-radius:12px;

min-height:350px;

margin-bottom:20px;

}

.horse{

display:flex;

align-items:center;

margin-bottom:14px;

}

.horse span{

width:170px;

font-weight:bold;

}

.track{

position:relative;

flex:1;

height:22px;

background:#444;

border-radius:20px;

overflow:hidden;

}

.runner{

position:absolute;

left:0;

top:1px;

width:20px;

height:20px;

border-radius:50%;

background:#FFD700;

transition:all .8s;

}

#logArea{

background:#222;

padding:20px;

border-radius:12px;

min-height:180px;

line-height:1.8;

margin-bottom:20px;

}

#raceButtons{

display:flex;

gap:15px;

}

#raceButtons button{

flex:1;

}

#cardList,
#courseList{

background:#222;

padding:20px;

border-radius:12px;

min-height:300px;

margin:20px 0;

}

.backButton{

background:#666;

}

.backButton:hover{

background:#777;

}

select{

font-size:18px;

padding:8px;

margin-left:10px;

border-radius:8px;

}

@media(max-width:700px){

#raceInfo{

flex-direction:column;

gap:10px;

}

h1{

font-size:36px;

}

button{

font-size:18px;

}

.horse span{

width:120px;

font-size:14px;

}

}